.tabs-nav-scroll {
  overflow-x: auto;
}

.books-card {
  position: relative;
  height: 100%;
  background-color: white;
  &__visible-cont {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__inner-image {
    /* height: 330px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    background: #f2f2f2;
    border-radius: 5px 5px 0px 0px;
    & img {
      width: 100%;
    }
  }
  &__scroll-box {
    height: 260px;
  }
  &__hide-cont {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #231f20, $alpha: 0.9);
    padding: 30px 12px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
    z-index: -1;
    transform: scale(0.95);
    opacity: 0;
    transition: 0.3s ease;
  }
  &__hide-cont--active {
    transition: 0.3s ease;
    opacity: 1;
    z-index: 1;
    transform: scale(1);
  }
}

.show-books-desc {
}

@media (max-width: 768px) {
  .books-card {
    &__visible-cont {
    }
    &__inner-image {
      padding: 10px 25px;

      & img {
      }
    }
    &__scroll-box {
      height: 210px;
    }
    &__hide-cont {
      padding: 25px 7px 15px 7px;
    }
  }
}
