.content-book-tabs {
  position: relative;
  height: 510px;
  padding-right: 10px;
  &__btn {
    margin-bottom: 15px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 0;
      bottom: 0;
      height: 5px;
      background: #8b0f1a;
      opacity: 0.5;
    }
    & span {
      position: relative;
    }
  }
  &__btn.tabs__btn--active {
    &::before {
      width: 100%;
    }
  }
}
.tabs {
  &__btn {
  }
  &__btn--active {
  }
}

.content-book-block {
  position: relative;

  &__inner-image {
    padding: 50px 35px;
    background-color: #f2f2f2;
    & img {
      /* height: 600px; */
      width: 100%;
      margin: 0 auto;
    }
  }
  &__float-face {
    width: 200px;
    position: absolute;
    background-color: #f2f2f2;
    top: -30px;
    right: -20px;
    z-index: 50;
  }
  &__inner-slider {
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
}

.content-book-slider {

  &__text {
    max-width: 530px;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    transform: translateY(-30px);
    padding: 20px;
    & > div {
      height: 165px;
    }
  }
}

@media (min-width: 1999px) {
  .content-book-block {
    width: 1335px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 30px;
    &__inner-slider {
      position: absolute;
      left: auto;
      right: -4px;
      height: 100%;
      padding: 0;
      width: 756px;
    }
    &__inner-image {
    }
    &__float-face {
      background-color: #f2f2f2;
      position: relative;
      top: 0;
      right: 0;
      width: 570px;
      padding: 90px 90px;
    }
    
  }
}

@media (max-width: 1440px) {
  .content-book-block {
    &__inner-image {
      padding: 50px 30px;
    }
  }
}
@media (max-width: 992px) {
  .content-book-tabs {
    position: relative;
    height: auto;
    &__btn {
    }
  }
  .content-book-block {
  }
}

@media (max-width: 768px) {
  .content-book-tabs {
    &__btn {
    }
  }
  .content-book-block {

    &__inner-image {
      padding: 50px 20px 45px 20px;
    }
    &__float-face {
      position: relative;
      width: 100px;
      padding: 40px 50px 45px 50px;
      top: 0px;
      right: 0px;
      width: 100%;
      margin-bottom: 20px;
    }
    &__inner-slider {
    }
  }
}
