<section class="advantage py-50 pt-70">
    <div class="container">
        <div class="row gx-lg-50 gx-0 gy-20">
            <div class="col-lg-4">
                <div class="advantage-block">
                    <div class="advantage-block__inner-image">
                        <img class="advantage-block__image" src="img/advantages/advantages.svg" alt="">
                    </div>
                    <div class="text-start text-lg-center">
                        <p class="fs-6 fs-lg-4">Перевод от специалиста 
                            с 27летним стажем</p>
                            <span class="fs-8 fs-lg-7 ff-1">Также как высокотехнологичная концепция общественного уклада является.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="advantage-block">
                    <div class="advantage-block__inner-image">
                        <img class="advantage-block__image" src="img/advantages/advantages.svg" alt="">
                    </div>
                    <div class="text-start text-lg-center">
                        <p class="fs-6 fs-lg-4">Перевод от специалиста 
                            с 27летним стажем</p>
                            <span class="fs-8 fs-lg-7 ff-1">Также как высокотехнологичная концепция общественного уклада является.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="advantage-block">
                    <div class="advantage-block__inner-image">
                        <img class="advantage-block__image" src="img/advantages/advantages.svg" alt="">
                    </div>
                    <div class="text-start text-lg-center">
                        <p class="fs-6 fs-lg-4">Перевод от специалиста 
                            с 27летним стажем</p>
                            <span class="fs-8 fs-lg-7 ff-1">Также как высокотехнологичная концепция общественного уклада является.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>