<section class="content-book pt-30 pt-md-100" id="content-book">
  <div class="container">
    <div>
      <p class="text-muted ff-1">О книгах</p>
      <h1 class="fs-4 fs-lg-2">Что внутри наших книг</h1>
    </div>
    <div class="row gx-30">
      <div class="col-xl-3 d-flex flex-column">
        <div
          class="content-book-btn-slider swiper-slider overflow-hidden h-100 mb-40 mb-md-0"
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide h-100">
              <div class="inner-scroll">
                <div class="content-book-tabs__btn tabs__btn tabs__btn--active">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
                <div class="content-book-tabs__btn tabs__btn" data-bs-toggle="modal"
                data-bs-target="#modal-into-book">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
                <div class="content-book-tabs__btn tabs__btn">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
                <div class="content-book-tabs__btn tabs__btn">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
                <div class="content-book-tabs__btn tabs__btn">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
                <div class="content-book-tabs__btn tabs__btn">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
                <div class="content-book-tabs__btn tabs__btn">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
                <div class="content-book-tabs__btn tabs__btn">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
                <div class="content-book-tabs__btn tabs__btn">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
                <div class="content-book-tabs__btn tabs__btn">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
                <div class="content-book-tabs__btn tabs__btn">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
                <div class="content-book-tabs__btn tabs__btn">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
                <div class="content-book-tabs__btn tabs__btn">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
              </div>
            </div>
            <div class="swiper-slide h-100">
              <div class="inner-scroll">
                <div class="content-book-tabs__btn tabs__btn">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
                <div class="content-book-tabs__btn tabs__btn">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
                <div class="content-book-tabs__btn tabs__btn">
                  <span
                    >Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="slider-box-controls d-flex justify-content-lg-start mt-30 pb-20"
        >
          <div class="slider-btn-prev content-book-btn-slider-prev">
            @@include('../page-blocks/_sprite.html', {'id': 'arrow-prev',
            'width': '45px', 'height': '15px'})
          </div>
          <div class="slider-btn-next content-book-btn-slider-next">
            @@include('../page-blocks/_sprite.html', {'id': 'arrow-next',
            'width': '45px', 'height': '15px'})
          </div>
        </div>
      </div>
      <div class="col-xl-9 align-self-stretch d-none d-xl-block">
        <div class="tabs__pane tabs__pane--show">
          <div class="content-book-block">
            <div class="content-book-block__float-face">
              <img class="wp-100" src="img/shine.png" alt="" />
            </div>

            <div class="content-book-block__inner-slider">
              <div
                class="content-book-slider overflow-hidden swiper-slider h-100"
              >
                <div class="swiper-wrapper">
                  <div class="swiper-slide h-100">
                    <div class="content-book-block__inner-image">
                      <img class="wp-100" src="img/bookse.png" alt="" />
                    </div>
                    <div class="content-book-slider__text">
                      <div>
                        <p class="ff-1">
                          "Просите и получите!" - Клише? Религиозная
                          банальность? Нет. Эта книга расшифровывает истинное
                          значение этих слов. Применяя на практике изложенные в
                          этой книге принципы, можно достичь счастья,
                          совершенного здоровья и процветания, как это уже
                          сделали сотни тысяч людей в России и других странах.
                          Книга экстремально интересна и полезна всем, кто
                          стремится к благополучию, успеху, счастью и
                          процветанию и ищет средства достижения этого.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide h-100">
                    <div class="content-book-block__inner-image">
                      <img class="wp-100" src="img/bookse.png" alt="" />
                    </div>
                    <div class="content-book-slider__text">
                      <div>
                        <p class="ff-1">
                          "Просите и получите!" - Клише? Религиозная
                          банальность? Нет. Эта книга расшифровывает истинное
                          значение этих слов. Применяя на практике изложенные в
                          этой книге принципы, можно достичь счастья,
                          совершенного здоровья и процветания, как это уже
                          сделали сотни тысяч людей в России и других странах.
                          Книга экстремально интересна и полезна всем, кто
                          стремится к благополучию, успеху, счастью и
                          процветанию и ищет средства достижения этого.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mx-auto" style="max-width: 530px">
                <div
          class="slider-box-controls d-flex justify-content-lg-start"
        >
          <div class="slider-btn-prev content-book-slider-prev">
            @@include('../page-blocks/_sprite.html', {'id': 'arrow-prev',
            'width': '45px', 'height': '15px'})
          </div>
          <div class="slider-btn-next content-book-slider-next">
            @@include('../page-blocks/_sprite.html', {'id': 'arrow-next',
            'width': '45px', 'height': '15px'})
          </div>
        </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
