<section class="description pt-30 pt-md-100" id="method">
  <div class="container">
    <div class="row gx-0 gx-lg-60 gy-20">
      <div class="col-xxl-6">
        <div class="description-photos">
          <div
            class="description-photos__inner-image description-photos__inner-image--first"
          >
            <img
              class="description-photos__image"
              src="img/description/IMAGE.webp"
              alt=""
            />
          </div>
          <div class="description-photos__float-block">
            <div>
              <span class="ff-1 fs-8 fs-sm-6">Авторы метода:</span>
              <p class="mb-5 mt-5 fs-7 fs-sm-5">Чемпион Курт Тойч</p>
              <p class="mb-0 fs-7 fs-sm-5">Джоэл Мари Тойч</p>
            </div>
          </div>
          <div
            class="description-photos__inner-image description-photos__inner-image--second"
          >
            <img
              class="description-photos__image"
              src="img/description/IMAGE-1.webp"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-xxl-6">
        <div class="description-content">
          <h3 class="fs-2 mb-15">ИДЕАЛ-метод Тойча</h3>
          <p class="ff-1 fs-8 fs-md-7 mb-15">
            (аббревиатура англ.: IDEAL = Individualized – Directive –
            Explanatory – Action – Log, то есть индивидуализированный –
            направляющий – объясняющий – с программой действий – записанный в
            логическом виде)
          </p>
          <div class="fs-6 fs-md-4 position-relative">
            <div class="position-absolute d-none d-xl-block" style="top: -30px;right: 0; z-index: -1;">
              @@include('../page-blocks/_sprite.html', {'id':
                      'book-quotes-svg', 'width': '254px', 'height': '224px'})
            </div>
            <p>
              уникальный метод саморазвития, который укажет верный путь к
              улучшению качества жизни. Он отлично подойдет тем, кто не может
              разобраться в источнике возникших проблем. Метод базируется на
              психогенетическом изучении скрытого влияния жизни предков на
              современную жизнь потомков.
            </p>
            <p>
              Осознание генетического кода, нежелательных деструктивных семейных
              паттернов поведения в сочетании с выработкой и реализацией четкого
              плана практических действий по их преодолению позволяет человеку
              кардинально изменить свою жизнь к лучшему в различных сферах.
            </p>
          </div>
          <div class="fs-6 fs-md-4 collapse" id="collapseExample">
            <p>
              уникальный метод саморазвития, который укажет верный путь к
              улучшению качества жизни. Он отлично подойдет тем, кто не может
              разобраться в источнике возникших проблем. Метод базируется на
              психогенетическом изучении скрытого влияния жизни предков на
              современную жизнь потомков.
            </p>
            <p>
              Осознание генетического кода, нежелательных деструктивных семейных
              паттернов поведения в сочетании с выработкой и реализацией четкого
              плана практических действий по их преодолению позволяет человеку
              кардинально изменить свою жизнь к лучшему в различных сферах.
            </p>
          </div>
          <div
            class="d-flex mt-30 mt-md-60 justify-content-xxl-start justify-content-center"
          >
            <div
              class="btn btn-dark rounded-pill ff-1 px-20 btn-expand"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
