<section class="form-news pt-30 pt-md-100">
  <div class="form-news__inner-image">
    <img data-speed="0.007" class="wp-100" src="img/form-new-book/form-new-book.webp" alt="" />
  </div>
  <form data-speed="0.005" class="form-news-block mt-xl-0 mt-30">
    <h2 class="fs-4 fs-md-2 fs-lg-1 mb-10 mb-lg-30">Всегда будьте в курсе Новинок</h2>
    <p class="fs-6 fs-md-5 ff-1">
      Подпишитесь на нашу рассылку и вы всегда будете первым узнавать новости
    </p>
    <div class="d-flex gap-20 mb-10 mt-lg-30 mb-lg-30 flex-column flex-xxl-row">
      <input
        type="text"
        placeholder="Ваш Email"
        class="form-control rounded-pill py-15 px-20 fs-7 fs-lg-6"
      />
      <div>
        <input type="submit" value="Подписаться" class="btn btn-dark rounded-pill ff-1 py-15 text-uppercase px-35">
          
        </input>
      </div>
    </div>
    <p class="fs-8 text-muted">
      Нажимая на кнопку даю согласие на обработку
      <a href="#" class="text-decoration-underline">Персональных данных</a>
    </p>
  </form>
</section>
