<section class="news py-30" id="news">
  <div class="container">
    <div style="max-width: 650px" class="mx-auto text-center mb-30">
      <h1 class="fs-4 fs-lg-1 mb-15">Новости</h1>
      <p class="fs-7">
        Современные технологии достигли такого уровня, что начало повседневной
        работы по формированию позиции выявляет срочную потребность.
      </p>
    </div>
  </div>
  <div class="overflow-hidden">
    <div class="container">
      <div class="news-slider swiper-slider h-100">
        <div class="swiper-wrapper">
          <div class="swiper-slide h-100">
            <div class="news-block responsive-img">
              <img
                class="news-block__bg-image responsive-img__image"
                src="img/news/IMAGE.png"
                alt=""
              />

              <div class="news-block__container-content">
                <div class="news-block__badge">
                  <p class="fs-4 mb-5 lh-1">24</p>
                  <span class="fs-8">ноября</span>
                </div>
                <div class="news-block__float-content-box">
                  <div class="news-block__inner-text">
                    <p class="mb-0">
                      Значимость этих проблем настолько очевидна, что укрепление
                      и развитие внутренней структуры, в своём классическом
                      представлении, допускает внедрение....
                    </p>
                  </div>
                  <div class="text-uppercase fs-7 ff-1">Читать далее</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide h-100">
            <div class="news-block responsive-img">
              <img
                class="news-block__bg-image responsive-img__image"
                src="img/news/IMAGE.webp"
                alt=""
              />

              <div class="news-block__container-content">
                <div class="news-block__badge">
                  <p class="fs-4 mb-5 lh-1">24</p>
                  <span class="fs-8">ноября</span>
                </div>
                <div class="news-block__float-content-box">
                  <div class="news-block__inner-text">
                    <p class="mb-0">
                      Значимость этих проблем настолько очевидна, что укрепление
                      и развитие внутренней структуры, в своём классическом
                      представлении, допускает внедрение....
                    </p>
                  </div>
                  <div class="text-uppercase fs-7 ff-1">Читать далее</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide h-100">
            <div class="news-block responsive-img">
              <img
                class="news-block__bg-image responsive-img__image"
                src="img/news/IMAGE.webp"
                alt=""
              />

              <div class="news-block__container-content">
                <div class="news-block__badge">
                  <p class="fs-4 mb-5 lh-1">24</p>
                  <span class="fs-8">ноября</span>
                </div>
                <div class="news-block__float-content-box">
                  <div class="news-block__inner-text">
                    <p class="mb-0">
                      Значимость этих проблем настолько очевидна, что укрепление
                      и развитие внутренней структуры, в своём классическом
                      представлении, допускает внедрение....
                    </p>
                  </div>
                  <div class="text-uppercase fs-7 ff-1">Читать далее</div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide h-100">
            <div class="news-block responsive-img">
              <img
                class="news-block__bg-image responsive-img__image"
                src="img/news/IMAGE.webp"
                alt=""
              />

              <div class="news-block__container-content">
                <div class="news-block__badge">
                  <p class="fs-4 mb-5 lh-1">24</p>
                  <span class="fs-8">ноября</span>
                </div>
                <div class="news-block__float-content-box">
                  <div class="news-block__inner-text">
                    <p class="mb-0">
                      Значимость этих проблем настолько очевидна, что укрепление
                      и развитие внутренней структуры, в своём классическом
                      представлении, допускает внедрение....
                    </p>
                  </div>
                  <div class="text-uppercase fs-7 ff-1">Читать далее</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide h-100">
            <div class="news-block responsive-img">
              <img
                class="news-block__bg-image responsive-img__image"
                src="img/news/IMAGE.webp"
                alt=""
              />

              <div class="news-block__container-content">
                <div class="news-block__badge">
                  <p class="fs-4 mb-5 lh-1">24</p>
                  <span class="fs-8">ноября</span>
                </div>
                <div class="news-block__float-content-box">
                  <div class="news-block__inner-text">
                    <p class="mb-0">
                      Значимость этих проблем настолько очевидна, что укрепление
                      и развитие внутренней структуры, в своём классическом
                      представлении, допускает внедрение....
                    </p>
                  </div>
                  <div class="text-uppercase fs-7 ff-1">Читать далее</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide h-100">
            <div class="news-block responsive-img">
              <img
                class="news-block__bg-image responsive-img__image"
                src="img/news/IMAGE.webp"
                alt=""
              />

              <div class="news-block__container-content">
                <div class="news-block__badge">
                  <p class="fs-4 mb-5 lh-1">24</p>
                  <span class="fs-8">ноября</span>
                </div>
                <div class="news-block__float-content-box">
                  <div class="news-block__inner-text">
                    <p class="mb-0">
                      Значимость этих проблем настолько очевидна, что укрепление
                      и развитие внутренней структуры, в своём классическом
                      представлении, допускает внедрение....
                    </p>
                  </div>
                  <div class="text-uppercase fs-7 ff-1">Читать далее</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-box-controls mt-30">
      <div class="slider-btn-prev news-slider-prev">
        @@include('../page-blocks/_sprite.html', {'id': 'arrow-prev', 'width':
        '45px', 'height': '15px'})
      </div>
      <div class="slider-btn-next news-slider-next">
        @@include('../page-blocks/_sprite.html', {'id': 'arrow-next', 'width':
        '45px', 'height': '15px'})
      </div>
    </div>
  </div>
</section>
