<section class="reviews tabs py-30" id="reviews">
  <div class="container">
    <div style="max-width: 650px" class="mx-auto text-center mb-15">
      <h1 class="fs-4 fs-lg-1 mb-15">Отзывы покупателей</h1>
      <p class="fs-7">
        Современные технологии достигли такого уровня, что начало повседневной
        работы по формированию позиции выявляет срочную потребность.
      </p>
    </div>
  </div>
  <div class="tabs-nav tabs__nav mb-20 mb-lg-45">
    <div class="tabs-nav__btn tabs__btn tabs__btn--active">Текстовые отзывы</div>
    <div class="tabs-nav__btn tabs__btn">Видео-отзывы</div>
  </div>
  <div class="tabs__content">
    <div class="tabs__pane tabs__pane--show">
      <div class="overflow-hidden">
        <div class="container">
          <div class="reviews-slider swiper-slider h-100">
            <div class="swiper-wrapper">
              <div class="swiper-slide h-100">
                <div class="reviews-block ff-1">
                  <div class="reviews-block__container-content">
                    <div class="reviews-block__float-quote">
                      @@include('../page-blocks/_sprite.html', {'id':
                      'book-quotes-svg', 'width': '100%', 'height': '100'})
                    </div>
                    <p class="reviews-block__title ff-2">
                      Кстати, предприниматели в сети интернет, инициированные
                      исключительно синтетически, функционально разнесены на
                      независимые элементы.
                    </p>
                    <div class="reviews-block__block-text">
                      <div class="reviews-block__inner-text">
                        <p class="reviews-block__text">
                          В своём стремлении улучшить пользовательский опыт мы
                          упускаем, что активно развивающиеся страны третьего
                          мира, которые представляют собой яркий пример
                          континентально-европейского типа политической
                          культуры, будут объявлены нарушающими общечеловеческие
                          нормы этики и морали! Однозначно, акционеры крупнейших
                          компаний ограничены исключительно образом мышления!
                          Внезапно, некоторые особенности внутренней политики
                          набирают популярность среди определенных слоев
                          населения, а значит
                        </p>
                      </div>
                      <span class="reviews-block__button-more"
                        >Читать отзыв полностью</span
                      >
                    </div>
                  </div>
                  <div>
                    <div
                      class="reviews-block__inner-image responsive-img rounded-circle news-block"
                    >
                      <img
                        class="responsive-img__image news-block__bg-image"
                        data-speed="0.05"
                        src="img/rewi.png"
                        alt=""
                      />
                    </div>
                    <p class="mt-30 mb-5 fs-lg-5 fs-6">Елена Иванова</p>
                    <span class="text-muted fs-8 fs-lg-7">Краснодар</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-block ff-1">
                  <div class="reviews-block__container-content">
                    <div class="reviews-block__float-quote">
                      @@include('../page-blocks/_sprite.html', {'id':
                      'book-quotes-svg', 'width': '100%', 'height': '100'})
                    </div>
                    <p class="reviews-block__title ff-2">
                      Кстати, предприниматели в сети интернет, инициированные
                      исключительно синтетически, функционально разнесены на
                      независимые элементы.
                    </p>
                    <div class="reviews-block__block-text">
                      <div class="reviews-block__inner-text">
                        <p class="reviews-block__text">
                          В своём стремлении улучшить пользовательский опыт мы
                          упускаем, что активно развивающиеся страны третьего
                          мира, которые представляют собой яркий пример
                          континентально-европейского типа политической
                          культуры, будут объявлены нарушающими общечеловеческие
                          нормы этики и морали! Однозначно, акционеры крупнейших
                          компаний ограничены исключительно образом мышления!
                          Внезапно, некоторые особенности внутренней политики
                          набирают популярность среди определенных слоев
                          населения, а значит
                        </p>
                      </div>
                      <span class="reviews-block__button-more"
                        >Читать отзыв полностью</span
                      >
                    </div>
                  </div>
                  <div>
                    <div
                      class="reviews-block__inner-image responsive-img rounded-circle"
                    >
                      <img
                        class="responsive-img__image"
                        src="img/rewi.png"
                        alt=""
                      />
                    </div>
                    <p class="mt-30 mb-5 fs-lg-5 fs-6">Елена Иванова</p>
                    <span class="text-muted fs-8 fs-lg-7">Краснодар</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-block ff-1">
                  <div class="reviews-block__container-content">
                    <div class="reviews-block__float-quote">
                      @@include('../page-blocks/_sprite.html', {'id':
                      'book-quotes-svg', 'width': '100%', 'height': '100'})
                    </div>
                    <p class="reviews-block__title ff-2">
                      Кстати, предприниматели в сети интернет, инициированные
                      исключительно синтетически, функционально разнесены на
                      независимые элементы.
                    </p>
                    <div class="reviews-block__block-text">
                      <div class="reviews-block__inner-text">
                        <p class="reviews-block__text">
                          В своём стремлении улучшить пользовательский опыт мы
                          упускаем, что активно развивающиеся страны третьего
                          мира, которые представляют собой яркий пример
                          континентально-европейского типа политической
                          культуры, будут объявлены нарушающими общечеловеческие
                          нормы этики и морали! Однозначно, акционеры крупнейших
                          компаний ограничены исключительно образом мышления!
                          Внезапно, некоторые особенности внутренней политики
                          набирают популярность среди определенных слоев
                          населения, а значит
                        </p>
                      </div>
                      <span class="reviews-block__button-more"
                        >Читать отзыв полностью</span
                      >
                    </div>
                  </div>
                  <div>
                    <div
                      class="reviews-block__inner-image responsive-img rounded-circle"
                    >
                      <img
                        class="responsive-img__image"
                        src="img/rewi.png"
                        alt=""
                      />
                    </div>
                    <p class="mt-30 mb-5 fs-lg-5 fs-6">Елена Иванова</p>
                    <span class="text-muted fs-8 fs-lg-7">Краснодар</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-block ff-1">
                  <div class="reviews-block__container-content">
                    <div class="reviews-block__float-quote">
                      @@include('../page-blocks/_sprite.html', {'id':
                      'book-quotes-svg', 'width': '100%', 'height': '100'})
                    </div>
                    <p class="reviews-block__title ff-2">
                      Кстати, предприниматели в сети интернет, инициированные
                      исключительно синтетически, функционально разнесены на
                      независимые элементы.
                    </p>
                    <div class="reviews-block__block-text">
                      <div class="reviews-block__inner-text">
                        <p class="reviews-block__text">
                          В своём стремлении улучшить пользовательский опыт мы
                          упускаем, что активно развивающиеся страны третьего
                          мира, которые представляют собой яркий пример
                          континентально-европейского типа политической
                          культуры, будут объявлены нарушающими общечеловеческие
                          нормы этики и морали! Однозначно, акционеры крупнейших
                          компаний ограничены исключительно образом мышления!
                          Внезапно, некоторые особенности внутренней политики
                          набирают популярность среди определенных слоев
                          населения, а значит
                        </p>
                      </div>
                      <span class="reviews-block__button-more"
                        >Читать отзыв полностью</span
                      >
                    </div>
                  </div>
                  <div>
                    <div
                      class="reviews-block__inner-image responsive-img rounded-circle"
                    >
                      <img
                        class="responsive-img__image"
                        src="img/rewi.png"
                        alt=""
                      />
                    </div>
                    <p class="mt-30 mb-5 fs-lg-5 fs-6">Елена Иванова</p>
                    <span class="text-muted fs-8 fs-lg-7">Краснодар</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-block ff-1">
                  <div class="reviews-block__container-content">
                    <div class="reviews-block__float-quote">
                      @@include('../page-blocks/_sprite.html', {'id':
                      'book-quotes-svg', 'width': '100%', 'height': '100'})
                    </div>
                    <p class="reviews-block__title ff-2">
                      Кстати, предприниматели в сети интернет, инициированные
                      исключительно синтетически, функционально разнесены на
                      независимые элементы.
                    </p>
                    <div class="reviews-block__block-text">
                      <div class="reviews-block__inner-text">
                        <p class="reviews-block__text">
                          В своём стремлении улучшить пользовательский опыт мы
                          упускаем, что активно развивающиеся страны третьего
                          мира, которые представляют собой яркий пример
                          континентально-европейского типа политической
                          культуры, будут объявлены нарушающими общечеловеческие
                          нормы этики и морали! Однозначно, акционеры крупнейших
                          компаний ограничены исключительно образом мышления!
                          Внезапно, некоторые особенности внутренней политики
                          набирают популярность среди определенных слоев
                          населения, а значит
                        </p>
                      </div>
                      <span class="reviews-block__button-more"
                        >Читать отзыв полностью</span
                      >
                    </div>
                  </div>
                  <div>
                    <div
                      class="reviews-block__inner-image responsive-img rounded-circle"
                    >
                      <img
                        class="responsive-img__image"
                        src="img/rewi.png"
                        alt=""
                      />
                    </div>
                    <p class="mt-30 mb-5 fs-lg-5 fs-6">Елена Иванова</p>
                    <span class="text-muted fs-8 fs-lg-7">Краснодар</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-block ff-1">
                  <div class="reviews-block__container-content">
                    <div class="reviews-block__float-quote">
                      @@include('../page-blocks/_sprite.html', {'id':
                      'book-quotes-svg', 'width': '100%', 'height': '100'})
                    </div>
                    <p class="reviews-block__title ff-2">
                      Кстати, предприниматели в сети интернет, инициированные
                      исключительно синтетически, функционально разнесены на
                      независимые элементы.
                    </p>
                    <div class="reviews-block__block-text">
                      <div class="reviews-block__inner-text">
                        <p class="reviews-block__text">
                          В своём стремлении улучшить пользовательский опыт мы
                          упускаем, что активно развивающиеся страны третьего
                          мира, которые представляют собой яркий пример
                          континентально-европейского типа политической
                          культуры, будут объявлены нарушающими общечеловеческие
                          нормы этики и морали! Однозначно, акционеры крупнейших
                          компаний ограничены исключительно образом мышления!
                          Внезапно, некоторые особенности внутренней политики
                          набирают популярность среди определенных слоев
                          населения, а значит
                        </p>
                      </div>
                      <span class="reviews-block__button-more"
                        >Читать отзыв полностью</span
                      >
                    </div>
                  </div>
                  <div>
                    <div
                      class="reviews-block__inner-image responsive-img rounded-circle"
                    >
                      <img
                        class="responsive-img__image"
                        src="img/rewi.png"
                        alt=""
                      />
                    </div>
                    <p class="mt-30 mb-5 fs-lg-5 fs-6">Елена Иванова</p>
                    <span class="text-muted fs-8 fs-lg-7">Краснодар</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-box-controls mt-30">
          <div class="slider-btn-prev reviews-slider-prev">
            @@include('../page-blocks/_sprite.html', {'id': 'arrow-prev',
            'width': '45px', 'height': '15px'})
          </div>
          <div class="slider-btn-next reviews-slider-next">
            @@include('../page-blocks/_sprite.html', {'id': 'arrow-next',
            'width': '45px', 'height': '15px'})
          </div>
        </div>
      </div>
    </div>
    <div class="tabs__pane">
      <div class="overflow-hidden">
        <div class="container">
          <div class="reviews-video-slider swiper-slider h-100">
            <div class="swiper-wrapper">
              <div class="swiper-slide h-100">
                <div class="reviews-block ff-1">
                  <div class="reviews-block__container-content box-aspect box-aspect--full responsive-img">
                    <!-- <iframe width="100%" class="responsive-img__image" src="https://www.youtube.com/embed/XgB9W4-yPNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                  </div>
                  <div>
                    <div
                      class="reviews-block__inner-image responsive-img rounded-circle news-block"
                    >
                      <img
                        class="responsive-img__image news-block__bg-image"
                        data-speed="0.05"
                        src="img/rewi.png"
                        alt=""
                      />
                    </div>
                    <p class="mt-30 mb-5 fs-lg-5 fs-6">Елена Иванова</p>
                    <span class="text-muted fs-8 fs-lg-7">Краснодар</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-block ff-1">
                  <div class="reviews-block__container-content box-aspect box-aspect--full responsive-img">
                    <!-- <iframe width="100%" class="responsive-img__image" src="https://www.youtube.com/embed/XgB9W4-yPNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                  </div>
                  <div>
                    <div
                      class="reviews-block__inner-image responsive-img rounded-circle news-block"
                    >
                      <img
                        class="responsive-img__image news-block__bg-image"
                        data-speed="0.05"
                        src="img/rewi.png"
                        alt=""
                      />
                    </div>
                    <p class="mt-30 mb-5 fs-lg-5 fs-6">Елена Иванова</p>
                    <span class="text-muted fs-8 fs-lg-7">Краснодар</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-block ff-1">
                  <div class="reviews-block__container-content box-aspect box-aspect--full responsive-img">
                    <!-- <iframe width="100%" class="responsive-img__image" src="https://www.youtube.com/embed/XgB9W4-yPNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                  </div>
                  <div>
                    <div
                      class="reviews-block__inner-image responsive-img rounded-circle news-block"
                    >
                      <img
                        class="responsive-img__image news-block__bg-image"
                        data-speed="0.05"
                        src="img/rewi.png"
                        alt=""
                      />
                    </div>
                    <p class="mt-30 mb-5 fs-lg-5 fs-6">Елена Иванова</p>
                    <span class="text-muted fs-8 fs-lg-7">Краснодар</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-block ff-1">
                  <div class="reviews-block__container-content box-aspect box-aspect--full responsive-img">
                    <!-- <iframe width="100%" class="responsive-img__image" src="https://www.youtube.com/embed/XgB9W4-yPNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                  </div>
                  <div>
                    <div
                      class="reviews-block__inner-image responsive-img rounded-circle news-block"
                    >
                      <img
                        class="responsive-img__image news-block__bg-image"
                        data-speed="0.05"
                        src="img/rewi.png"
                        alt=""
                      />
                    </div>
                    <p class="mt-30 mb-5 fs-lg-5 fs-6">Елена Иванова</p>
                    <span class="text-muted fs-8 fs-lg-7">Краснодар</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-100">
                <div class="reviews-block ff-1">
                  <div class="reviews-block__container-content box-aspect box-aspect--full responsive-img">
                    <!-- <iframe width="100%" class="responsive-img__image" src="https://www.youtube.com/embed/XgB9W4-yPNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                  </div>
                  <div>
                    <div
                      class="reviews-block__inner-image responsive-img rounded-circle news-block"
                    >
                      <img
                        class="responsive-img__image news-block__bg-image"
                        data-speed="0.05"
                        src="img/rewi.png"
                        alt=""
                      />
                    </div>
                    <p class="mt-30 mb-5 fs-lg-5 fs-6">Елена Иванова</p>
                    <span class="text-muted fs-8 fs-lg-7">Краснодар</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-box-controls mt-30">
          <div class="slider-btn-prev reviews-video-prev">
            @@include('../page-blocks/_sprite.html', {'id': 'arrow-prev',
            'width': '45px', 'height': '15px'})
          </div>
          <div class="slider-btn-next reviews-video-next">
            @@include('../page-blocks/_sprite.html', {'id': 'arrow-next',
            'width': '45px', 'height': '15px'})
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
