<section class="top-section bg-block">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-6 h-100 mt-30 mt-lg-100">
        <div class="d-flex h-100 flex-column justify-content-between">
          <div>
            <p class="ff-1 fs-7 fs-md-6">Центр психогенетики Бориса Сорина</p>
            <h1 class="top-section__title">Книги по ИДЕАЛ-методу Тойча</h1>
            <div class="d-flex align-items-center gap-40">
              <span class="ff-1">Заказать книги</span
              ><a href="#books" class="top-section-anchor">
                <img src="img/arowright.svg" alt="" />
              </a>
            </div>
          </div>
          <div class="d-flex gap-40 py-30 mt-lg-100 ff-1" style="max-width: 470px">
            <span class="fs-7 fs-md-6">Новинки</span>
            <span class="fs-6 fs-md-5"
              >Откровения Джоэл. Библия как учебник радостного и эффективного
              проживания…
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 slider-top">
        
        <div class="top-section-slider overflow-hidden swiper-slider h-100">
          <div class="swiper-wrapper">
            <div class="swiper-slide h-100">
                
              <div class="top-section-block">
                
                <div class="top-section-block__inner-image">
                    <a href="#reviews" class="arrow-in-slider"
                  ><span>Отзывы о книге</span></a
                >
                  <img
                    data-speed="0.01"
                    class="top-section-block__image"
                    src="img/shine.png"
                    alt=""
                  />
                </div>
                <div
                  class="bg-white d-flex px-10 py-15 px-md-50 py-md-30 flex-column text-md-start text-center flex-md-row position-relative"
                  style="border-radius: 10px 10px 0px 0px"
                >
                  <p class="pe-20 fs-6 fs-lg-4 wp-md-60">
                    Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!
                  </p>
                  <div
                    class="ff-1 ps-md-20 pt-10 pt-md-0 h-100 d-flex justify-content-center flex-column borderred wp-md-40 align-self-center"
                  >
                    <span class="ff-1 fs-7 fs-lg-6">Авторы</span>
                    <p class="mb-0 mt-5 fs-6-fs-lg-5">Джоэл Мари Тойч</p>
                    <p class="mb-0 fs-6-fs-lg-5">Чемпион Курт Тойч</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-100">
                
              <div class="top-section-block">
                
                <div class="top-section-block__inner-image">
                    <a href="#reviews" class="arrow-in-slider"
                  ><span>Отзывы о книге</span></a
                >
                  <img
                    data-speed="0.01"
                    class="top-section-block__image"
                    src="img/shine.png"
                    alt=""
                  />
                </div>
                <div
                  class="bg-white d-flex px-10 py-15 px-md-50 py-md-30 flex-column text-md-start text-center flex-md-row position-relative"
                  style="border-radius: 10px 10px 0px 0px"
                >
                  <p class="pe-20 fs-6 fs-lg-4 wp-md-60">
                    Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!
                  </p>
                  <div
                    class="ff-1 ps-md-20 pt-10 pt-md-0 h-100 d-flex justify-content-center flex-column borderred wp-md-40 align-self-center"
                  >
                    <span class="ff-1 fs-7 fs-lg-6">Авторы</span>
                    <p class="mb-0 mt-5 fs-6-fs-lg-5">Джоэл Мари Тойч</p>
                    <p class="mb-0 fs-6-fs-lg-5">Чемпион Курт Тойч</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-100">
                
              <div class="top-section-block">
                
                <div class="top-section-block__inner-image">
                    <a href="#reviews" class="arrow-in-slider"
                  ><span>Отзывы о книге</span></a
                >
                  <img
                    data-speed="0.01"
                    class="top-section-block__image"
                    src="img/shine.png"
                    alt=""
                  />
                </div>
                <div
                  class="bg-white d-flex px-10 py-15 px-md-50 py-md-30 flex-column text-md-start text-center flex-md-row position-relative"
                  style="border-radius: 10px 10px 0px 0px"
                >
                  <p class="pe-20 fs-6 fs-lg-4 wp-md-60">
                    Отсюда к великому счастью, или как улучшить Вашу жизнь
                    навсегда!
                  </p>
                  <div
                    class="ff-1 ps-md-20 pt-10 pt-md-0 h-100 d-flex justify-content-center flex-column borderred wp-md-40 align-self-center"
                  >
                    <span class="ff-1 fs-7 fs-lg-6">Авторы</span>
                    <p class="mb-0 mt-5 fs-6-fs-lg-5">Джоэл Мари Тойч</p>
                    <p class="mb-0 fs-6-fs-lg-5">Чемпион Курт Тойч</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-box-controls mt-30">
          <div class="slider-btn-prev top-section-slider-prev">
            @@include('../page-blocks/_sprite.html', {'id': 'arrow-prev',
            'width': '45px', 'height': '15px'})
          </div>
          <div class="slider-btn-next top-section-slider-next">
            @@include('../page-blocks/_sprite.html', {'id': 'arrow-next',
            'width': '45px', 'height': '15px'})
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
