<footer class="footer bg-block" id="contacts">
  <div class="container py-50">
    <div class="row g-30 ff-1 text-center text-md-start">
      <div class="col-xxl-3 col-lg-3 col-md-6">
        <div class="d-flex justify-content-between flex-column flex-md-row align-items-md-start align-items-center flex-wrap gap-10">
          <img width="130px" src="img/logo.svg" alt="" />
          <div class="d-flex flex-column fs-5 gap-10">
            <a href="#">+7(495) 258-81-31</a>
            <a href="#">+7(495) 258-81-31</a>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-lg-3 col-md-6">
        <p class="mb-0">Email</p>
        <a href="#">info@imtprofi.ru</a>
      </div>
      <div class="col-xxl-5 col-lg-3 col-md-6">
        <p class="mb-0">Адрес</p>
        <p>
          Консультативный центр по психогенетике Бориса Сорина,г. Москва,
          Краснопресненская наб., 12, Центр Межданродной Торговли, 6 подъезд, 3
          этаж, офис 321
        </p>
      </div>
      <div class="col-xxl-2 col-lg-3 col-md-6">
        <p class="mb-0">Режим работы</p>
        <p class="mb-0">Пн - Пт: 10.00 - 19.00</p>
        <p class="mb-0">Сб - Вс: по графику</p>
      </div>
    </div>
  </div>
  <!-- <div class="py-15 px-20 py-md-30 d-flex flex-column align-items-center" style="color: #C9C9C3; background: #2F3B42">
    <p class="mb-0">© 2022. Agelar. Все права защищены. Политика конфиденциальности</p>
    <p class="mb-0"    >ИП Бессонова О.Е. ИНН 770370050803 ОГРНИП 315774600171129</p>
  </div> -->
</footer>
